@model IEnumerable<TicketViewModel>

@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="~/css/tags.css" asp-append-version="true" />

<div class="text-left">
    <p><h3>Dashboard</h3></p>
</div>

@if (Model.Count() == 0)
{
    <div class="text-left">
        <p><h4>There are no more tickets assigned to you. Good job! &#128077;</h4></p>
    </div>
}

<div class="dashboard-container">
    @foreach (var viewModel in Model)
    {
        <div class="dashboard-ticket-div">
            <div class="ticket-title-div">
                <h3>@viewModel.ticket.title</h3>
                <div class="ticket-tags-div">
                    <div class="ticket-tag @viewModel.ticket.ticketType-tag">@viewModel.ticket.ticketType</div>
                    <div class="ticket-tag @viewModel.ticket.priority-tag">@viewModel.ticket.priority</div>
                </div>
            </div>
            <div class="ticket-description">
                @viewModel.ticket.description<br />
                in @viewModel.project.name <br />
            </div>
            <div class="creation-details-div">
                @if (viewModel.author != null)
                {
                    @viewModel.author.name
                }
                | @viewModel.ticket.creationDate.ToShortDateString()
            </div>
            <div class="close-ticket-btn">
                <a class="link-icon"  title="Close ticket @viewModel.ticket.title" asp-controller="Dashboard" asp-action="CloseTicket" asp-route-id="@viewModel.ticket.id">
                    <i class="fa-solid fa-check fa-lg"></i>
                </a>
            </div>
        </div>
    }
</div>