@model IEnumerable<Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<div class="text-center">
    <h1 class="display-4">Tickets</h1>
</div>

<div>
    <a asp-controller="Tickets" asp-action="Create">Create new ticket</a>
</div>

<div>
    @foreach (var ticket in Model)
    {
        <h5>@ticket.title</h5>
        <h5>@ticket.description</h5>
        <h5>Ticket type : @ticket.ticketType</h5>
        <h5>Ticket priority : @ticket.priority</h5>
        <h5>Opened : @ticket.isOpened</h5>
        <h5>@ticket.projectId</h5>
        <h5>@ticket.authorId</h5>
        <h5>@ticket.assigneeId</h5>
        <h5>@ticket.creationDate</h5>
    }
</div>