@model IEnumerable<TicketViewModel>

@{
    ViewData["Title"] = "Tickets";
}

<link rel="stylesheet" href="~/css/tags.css" asp-append-version="true" />
<script src="~/js/ticketModalsInit.js" asp-append-version="true" async></script>

<div class="text-left">
    <p><h3>Tickets</h3></p>
</div>

<a onclick="createTicket()" class="btn btn-success">
    <i class="fa-solid fa-ticket-simple"></i> Create new ticket
</a>

<br />

<table id="data-table" class="table table-striped data-table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Project</th>
            <th scope="col">Assignee</th>
            <th scope="col">Author</th>
            <th scope="col">Creation date</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model)
        {
            <tr>
                <td>@viewModel.ticket.title</td>
                <td>@viewModel.ticket.description</td>
                <td>
                    <div class="ticket-tag @viewModel.ticket.ticketType-tag">
                        @viewModel.ticket.ticketType
                    </div>
                </td>
                <td>
                    <div class="ticket-tag @viewModel.ticket.priority-tag">
                        @viewModel.ticket.priority
                    </div>
                </td>
                @if (viewModel.ticket.isOpened)
                {
                    <td><div class="ticket-tag Opened-tag">Opened</div></td>
                }
                else
                {
                    <td><div class="ticket-tag Closed-tag">Closed</div></td>
                }
                <td>@viewModel.project.name</td>
                @if (viewModel.assignee == null)
                {
                    <td>Unassigned</td>
                }
                else
                {
                    <td>@viewModel.assignee.name</td>
                }
                @if (viewModel.author == null)
                {
                    <td>Deleted user</td>
                }
                else
                {
                    <td>@viewModel.author.name</td>
                }
                <td>@viewModel.ticket.creationDate</td>

                <td>
                    <ul>
                        @if (service.user.role != TeamMember && viewModel.ticket.isOpened ||
                            UserIsTeamMemberAndAssigneeOfTicket(viewModel.ticket))
                        {
                            <li>
                                <div class="close-ticket-btn">
                                    <a class="link-icon" title="Close ticket @viewModel.ticket.title" asp-controller="Tickets" asp-action="CloseTicket" asp-route-id="@viewModel.ticket.id">
                                        <i class="fa-solid fa-check fa-lg"></i>
                                    </a>
                                </div>
                            </li>
                        }
                        @if (service.user.role != TeamMember ||
                            UserIsTeamMemberAndAuthorOfTicket(viewModel.ticket))
                        {
                            <li>
                                <div class="edit-btn">
                                    <a onclick="editTicket('@viewModel.ticket.id')" href="#" class="link-icon" title="Edit ticket @viewModel.ticket.title">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </div>
                            </li>
                        }
                        @if (service.user.role != TeamMember ||
                            UserIsTeamMemberAndAuthorOfTicket(viewModel.ticket))
                        {
                            <li>
                                <div class="delete-btn">
                                    <a class="link-icon" title="Delete ticket @viewModel.ticket.title" asp-controller="Tickets" asp-action="Delete" asp-route-id="@viewModel.ticket.id">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="ticket-create-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create new ticket</h4>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="ticket-edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit ticket</h4>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@functions
{
    private bool UserIsTeamMemberAndAuthorOfTicket(Ticket ticket) =>
        service.user.role == TeamMember && 
        service.user.id == ticket.authorId;

    private bool UserIsTeamMemberAndAssigneeOfTicket(Ticket ticket) =>
        service.user.role == TeamMember &&
        service.user.id == ticket.assigneeId &&
        ticket.isOpened;
}

@section scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/js/dataTablesInit.js" asp-append-version="true"></script>
}