@model IEnumerable<TicketViewModel>

@{
    ViewData["Title"] = "Tickets";
}

<div class="text-left">
    <p><h3>Tickets</h3></p>
</div>

<a class="btn btn-success" asp-controller="Tickets" asp-action="Create">
    <i class="fa-solid fa-ticket-simple"></i> Create new ticket
</a>

<table class="table data-table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Project</th>
            <th scope="col">Assignee</th>
            <th scope="col">Author</th>
            <th scope="col">Creation date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model)
        {
            <tr>
                <td>@viewModel.ticket.title</td>
                <td>@viewModel.ticket.description</td>
                <td>@viewModel.ticket.ticketType</td>
                <td>@viewModel.ticket.priority</td>
                <td>@viewModel.ticket.isOpened</td>
                <td>@viewModel.project.name</td>
                @if (viewModel.assignee == null)
                {
                    <td>Unassigned</td>
                }
                else
                {
                    <td>@viewModel.assignee.name</td>
                }
                @if (viewModel.author == null)
                {
                    <td>Deleted user</td>
                }
                else
                {
                    <td>@viewModel.author.name</td>
                }
                <td>@viewModel.ticket.creationDate</td>

                <td>
                    <ul>
                        @if (service.user.role != TeamMember && viewModel.ticket.isOpened)
                        {
                            <li>
                                <div class="close-ticket-btn">
                                    <a class="link-icon" title="Close ticket @viewModel.ticket.title" asp-controller="Tickets" asp-action="CloseTicket" asp-route-id="@viewModel.ticket.id">
                                        <i class="fa-solid fa-check fa-lg"></i>
                                    </a>
                                </div>
                            </li>
                        }
                        @if (service.user.role != TeamMember ||
                            UserIsTeamMemberAndAuthorOfTicket(viewModel.ticket))
                        {
                            <li>
                                <div class="edit-btn">
                                    <a class="link-icon" title="Edit ticket @viewModel.ticket.title" asp-controller="Tickets" asp-action="Edit" asp-route-id="@viewModel.ticket.id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </div>
                            </li>
                        }
                        @if (service.user.role != TeamMember)
                        {
                        <li>
                            <div class="delete-btn">
                                <a class="link-icon" title="Delete ticket @viewModel.ticket.title" asp-controller="Tickets" asp-action="Delete" asp-route-id="@viewModel.ticket.id">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

@functions
{
    private bool UserIsTeamMemberAndAuthorOfTicket(Ticket ticket) =>
        service.user.role == TeamMember && 
        service.user.id == ticket.authorId;
}