@model IEnumerable<ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
    ViewData["TicketTypes"] = Json.Serialize(System.Enum.GetNames(typeof(TicketType)));
    ViewData["TicketTypeColors"] = Json.Serialize(new[] { "rgb(255, 0, 0)", "rgb(54, 162, 235)", "rgb(235, 192, 0)", "rgb(194, 194, 194)" });
    ViewData["TicketPriorities"] = Json.Serialize(System.Enum.GetNames(typeof(Priority)));
    ViewData["TicketPriorityColors"] = Json.Serialize(new[] { "rgb(33, 196, 0)", "rgb(235, 192, 0)", "rgb(255, 0, 0)" });
    ViewData["TicketStatuses"] = Json.Serialize(new[] { "Closed", "Opened" });
    ViewData["TicketStatusColors"] = Json.Serialize(new[] { "rgb(33, 196, 0)", "rgb(255, 0, 0)" });
}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/chartDrawer.js" asp-append-version="true"></script>

<div class="text-left">
    <p>
    <h3>Projects</h3>
    </p>
</div>
<div>
    @if (service.user.role is ProjectManager)
    {
        <a class="btn btn-success" asp-controller="Projects" asp-action="Create">
            <i class="fa-solid fa-book"></i> Create new project
        </a>
    }
</div>
<div>
    @foreach (var viewModel in Model)
    {
        <h1>@viewModel.project.name</h1>
        <h5>@viewModel.project.description</h5>
        <h5>Members (@viewModel.members.Count) :</h5>
        foreach (var member in viewModel.members)
        {
            <h7>@member.name</h7>
            <br />
        }
        <h5>Tickets (@viewModel.tickets.Count)</h5>
        @if (viewModel.tickets.Count > 0)
        {
            <div class="ticket-type-chart-div">
                <canvas id="@viewModel.project.name-ticket-type-chart"></canvas>
                <script>
                    drawChart(
                        "@viewModel.project.name-ticket-type-chart",
                        @ViewData["TicketTypes"],
                        @ViewData["TicketTypeColors"],
                        @viewModel.GetTicketTypesCountJson())
                </script>
            </div>
            <div class="ticket-priority-chart-div">
                <canvas id="@viewModel.project.name-ticket-priority-chart"></canvas>
                <script>
                    drawChart(
                        "@viewModel.project.name-ticket-priority-chart",
                        @ViewData["TicketPriorities"],
                        @ViewData["TicketPriorityColors"],
                        @viewModel.GetTicketPriorityCountJson())
                </script>
            </div>
            <div class="ticket-status-chart-div">
                <canvas id="@viewModel.project.name-ticket-status-chart"></canvas>
                <script>
                    drawChart(
                        "@viewModel.project.name-ticket-status-chart",
                        @ViewData["TicketStatuses"],
                        @ViewData["TicketStatusColors"],
                        @viewModel.GetTicketStatusCountJson())
                </script>
            </div>
        }
        if (service.user.role is ProjectManager)
        {
            <div class="edit-btn">
                <a class="link-icon" title="Edit user" asp-controller="Projects" asp-action="Edit"
                    asp-route-id="@viewModel.project.id">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
            <div class="delete-btn">
                <a class="link-icon" asp-controller="Projects" asp-action="Delete" asp-route-id="@viewModel.project.id">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        }
    }
</div>