@model IEnumerable<ProjectViewModel>

@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>
<div>
    @if (service.user.role is ProjectManager)
    {
        <a asp-controller="Projects" asp-action="Create">Create new project</a>
    }
</div>
<div>
    @foreach (var viewModel in Model)
    {
        <h1>@viewModel.project.name</h1>
        <h5>@viewModel.project.description</h5>
        <h5>Members:</h5>
        foreach (var member in viewModel.members)
        {
            <h7>@member.name</h7><br />
        }
        if (service.user.role is ProjectManager)
        {
            <a asp-controller="Projects"
                asp-action="Edit"
                asp-route-id="@viewModel.project.id">Edit project</a>
            <a asp-controller="Projects"
                asp-action="Delete"
                asp-route-id="@viewModel.project.id">Delete project</a>
        }
    }
</div>