@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}

<script src="~/js/userModalInit.js" asp-append-version="true" async></script>

<div class="text-left">
    <p><h3>Users</h3></p>
</div>

<table id="data-table" class="table table-striped data-table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th class="text-end" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.name</td>
                <td>@user.email</td>
                <td>@user.role</td>
                <td>
                    <ul>
                        <li>
                            <div class="edit-btn">
                                <a onclick="editUser('@user.id')" href="#" class="link-icon" title="Edit user @user.name">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="delete-btn">
                                <a href="#" onclick="$('#deleteModal-@user.id').modal('show')" class="link-icon" title="Delete user @user.name">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                            <div id="deleteModal-@user.id" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete confirmation</h4>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Do you want to delete user : @user.name</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success" asp-controller="Users" asp-action="Delete" asp-route-id="@user.id">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="user-edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/js/dataTablesInit.js" asp-append-version="true"></script>
}