@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}

<div class="text-left">
    <p><h3>Users</h3></p>
</div>

<table class="table data-table">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.name</td>
                <td>@user.email</td>
                <td>@user.password</td>
                <td>@user.role</td>
                <td>
                    <ul>
                        <li>
                            <div class="edit-btn">
                                <a class="link-icon" title="Edit user @user.name" asp-controller="Users" asp-action="Edit" asp-route-id="@user.id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="delete-btn">
                                <a class="link-icon" title="Delete user @user.name" asp-controller="Users" asp-action="Delete" asp-route-id="@user.id">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>