@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
</div>

@foreach (var user in Model)
{
    <h1> @user.name </h1>
    <h6> Email: @user.email </h6>
    <h6> Password: @user.password </h6>
    <h6> Role: @user.role </h6>
    <a asp-controller="Users"
                asp-action="Edit"
                asp-route-id="@user.id">Edit user</a>
    <a asp-controller="Users"
                asp-action="Delete"
                asp-route-id="@user.id">Delete user</a>
}